.header{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    margin-bottom: 100px;
}
.headers{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    margin-bottom: 100px;
    

}
.add{
    margin: 75px 200px 10px 150px;
}
.header-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    

}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
   
    

}
.button{
    border-radius: 8px;
    background: #E55473;
    padding: 12px 35px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none ;
}
.image{
    height: 600px;
    width: 477px;
    margin: 30px 100px 0px 0px ;

}
.off{
    color: #E55473;
}
.deal-title{
    color: #272727;
    
    font-size: 35px;
}
.deal{
    padding: 0px 2px 10px 300px;

}
.new{
    padding: 120px 150px 100px 300px;
}
.ph{
    
    padding: 70px 280px 70px 20px;
    width: 220px;
     height: 300px;
}
#t{
    margin-left: 120px;
}
.h1{
    text-align: center;
    margin: 5px 500px 10px 500px;
}
.imgg{
    margin: 0px 10px;
    height: 296px;
    width: 242px;
}
.im{
    margin: 0px 80px 0px 220px;
}
.bgg{
    background-image: url(../images/Rectangle\ 9.png);
    margin: 100px 80px 100px 230px;
    height: 350px;
    max-width: 1040px;

}
.input-section{
    text-align: center;
    padding: 80px;
}
.box{
    height: 40px;
    width: 380px;
}
.footer{
    background-color: #272727;
    text-align: center;
    padding: 100px 300px 120px 300px;
}
.newp{
    color: rgba(255, 255, 255, 0.90);
    font-size: 12px;
}
.copyright{
    color: rgba(253, 246, 246, 0.4);
}
.featured-flower{
    text-align: center;
    margin-bottom: 100px;
   
}
.image-description1{
    color: #272727
    font-size: 18px;
    font-weight: 80px;
    text-decoration:underline;
    margin-left:250px;
          
}
.image-description2{
    color: #272727
    font-size: 18px;
    font-weight: 80px;
    text-decoration:underline;
    text-align:center;        
}
.image-description3{
    color: #272727
    font-size: 18px;
    font-weight: 80px;
    text-decoration:underline;
    margin-right:150px
           
}
.feature-photo{
    display: flex;
    align-items: center;
}
#img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 320px;
    width: 220px;
    padding: 80px 60px 0px 60px;
    margin: 50px 30px 10px 230px;

}
#img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 320px;
    width: 220px;
    padding: 80px 60px 0px 60px;
    margin: 50px 30px 10px 0px;


}
#img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 320px;
    width: 220px;
    padding: 80px 60px 0px 60px;
    margin: 50px 200px 10px 0px;



}